.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #acc5c77a;
  max-height: 100%;
}

.App * {
  font-family: 'Roboto Condensed', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App div.buttons-container {
  display: flex;
  justify-content: center;
}
.App div.buttons-container button:first-child{
  margin-right: 15px;
}