.App div.container {
  padding: 20px;
}

.App div.text-area-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.App div.text-area-container textarea {
  min-height: 75px;
  max-height: 230px;
  min-width: 610px;
  max-width: 610px;
  background-color: rgb(183, 253, 255);
  font-size: 1.2em;
}

.App div.text-area-container.readonly textarea {
  background-color: #bfc9ff;
}