.statusMessage {
   background-color: aliceblue;
   max-width: 500px;
   text-align: center;
   font-size: 1.2em;
   padding: 5px;
}

.statusMessage.error {
   color: #e75151;
}

.statusMessage.succeed {
   color: green;
}